body{
    background-color: rgb(255, 255, 255)

}
.bg-white {
  
    background-color: rgb(255, 255, 255);
    border-style:double;
    border-top: rgb(130, 0, 113);


  }
.navbar-brand {
    padding: 0.5%;
    font-size: 30px;

    margin: 0;
    padding-left: 20px;
}

.navbar-nav {
    width: 88%;

}
.nav-item {
    padding: 20px 8px;
    margin: 0px 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: static;
    font-weight: bold;
    
}

.nav-item.active {
    color: #EF5350
}

.nav-item:hover {
    color: #ff009d
}

a {
    color: inherit !important
}

.nav-link {
    padding: 5%;
}

.navbar-collapse.collapse.in {
    display: block !important
}

.fa-angle-down {
    padding-left: 10px
}

.fa-icon {
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 15, 119);
    margin: 2px 10px 5px 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px
}

.dropdown-menu {
    margin-top: 0px;
    border: none;
    background-color: #244cb9b6;
    padding: 50px 50px 30px 50px;
    opacity: 80%;
    color: rgb(255, 255, 255);
}

#dropdown-menu1 {
    position: absolute;
    left: 150px;
}
#dropdown-menu4 {
    position: absolute;
    left: 450px;
}

/* #dropdown-menu2 {
    position: absolute;
    left:  100px
} */

#dropdown-menu3 {
    position: absolute;
    left: 290px
}

.tab {
    margin-bottom: 20px;
    width: 230px
}

.tab:hover {
    color: #E91E63 !important
}

.dropdown-item {
    padding: 0px
}

.dropdown-item:hover {
    background-color: inherit
}

@media (max-width: 767px) {
    .nav-item {
        width: 100%;
        text-align: left;
        padding-left: 10px
    }

    .dropdown-menu {
        left: 0 !important;
        position: relative !important;
        padding: 20px
    }
}
